body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.head {
  display: float;
}
#logo {
  color: white;
  background-color: red;
  width: fit-content;
  text-align: center;
}
.left {
  float: left;
}
.head {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#alink {
  float: left;
  width: fit-content;
}
#alinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#alinks ul li {
  display: inline-block;
  padding: 7px;
}
#alinks ul li a {
  text-decoration: none;
  color: black;
}
.right {
  float: right;
  text-align: center;
}
#social a i {
  color: #585858;
}
#my-collapse ul {
  list-style: none;
  color: #555151;
}
footer {
  overflow: hidden;
  background-color: #bbbbbb;
}
#country {
  float: right;
}
/* .inline {
  display: inline;
} */
.first_into {
  margin: 100px;
}
.CopyRight {
  font-size: 0.7rem;
  padding: 0.625em 1.875em;
  line-height: 1.1rem;
  color: #373737;
}
.row {
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
}
.top_intro {
  padding: auto;
}
.body {
  color: white;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/252/128/838/lenovo-simple-background-minimalism-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
